.cv {
    width: 1000px;
    height: 1500px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.393);
    margin: 50px 170px;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.cv .rightPart {
    width: 65%;
    height: 100%;
}

.cv .rightPart .profileandaddress {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-top: 50px; 
}

.cv .leftPart {
    width: 35%;
    height: 100%;
    background-color: rgb(113,81,169);
    padding-top: 50px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

