.threeTemplateintroduction {
    width: 90%;
    height: fit-content;
    overflow: hidden;
    position: relative;
    padding: 10px 10px 0 10px;
    transition: all .3s ease-in;
    border-radius: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.threeTemplateintroduction-title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 5px;
}

.threeTemplateintroduction-title h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    margin-left: 5px;
}
.threeTemplateintroduction .threeTemplatequoteIcon {
    width: 20px;
    height: 20px;
}
.threeTemplateintroduction .threeTemplatemenu {
    position: absolute;
    top: 0;
    right: -20px;
    transition: all .3s ease-in;
    width: 15px;
    height: 15px;
    cursor: pointer;
    z-index: -1;
}
.threeTemplateintroduction:hover .threeTemplatemenu{
    right: 0;
    z-index: 1;
}
.threeTemplateintroduction:hover .threeTemplatemenu+.threeTemplatemenu{
    right: 20px;
    z-index: 1;
}
.threeTemplateintroduction p {
    width: 95%;
    height: fit-content;
    word-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    text-align: left;
    line-height: 1.3em;
    color: #333;
    margin-top: -10px;
    margin-left: 20px;
    padding-left: 15px;
    border-left: 2px solid black;
    position: relative;
}

.threeTemplateintroduction p::before {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
    content: "";
    position: absolute;
    top: -2px;
    left: -4px;
}

.threeTemplateintroduction textarea {
    width: 80%;
    height: 150px;
    margin-top: 0px;
    margin-left: 30px;
    word-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    padding: 5px;
}

.threeTemplateintroduction textarea:focus {
    outline: none;
}
