/*rgb(113,81,169)*/

.fourTemplateworkexperienceContainer {
    width: 55%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin-left: -80px;
    overflow: hidden;
}

.fourTemplateworkexperienceContainer .fourTemplatemenu {
    position: absolute;
    top: 10px;
    right: -80px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: all .3s ease-in;
    z-index: -1;
}
.fourTemplateworkexperienceContainer:hover .fourTemplatemenu{
    right: 10px;
    z-index: 1;
}

.fourTemplateworkexperienceContainer:hover .fourTemplatemenu+.fourTemplatemenu{
    right: 35px;
    z-index: 1;
}

.fourTemplateexperienceTitle {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.fourTemplateexperienceTitle .fourTemplateexperienceLogo {
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.fourTemplateexperienceTitle .fourTemplateexperienceLogo img {
    width: 20px;
    height: 20px;
    margin-top: 4px;
}

.fourTemplateexperienceTitle h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    margin-top: 7px;
}

.fourTemplateexperience {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.fourTemplateexperience  .fourTemplateexperienceYearTitle {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 50px;
}

.fourTemplateexperience  .fourTemplateexperienceYearTitle h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .9em;
    font-weight: 500;
    color: rgb(74, 71, 71);
}


.fourTemplateexperience  .fourTemplateexperienceYearTitle h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}
.fourTemplateexperience  .fourTemplateexperienceYearTitle input:nth-child(1) {
    width: 60px;
    height: 24px;
}
.fourTemplateexperience  .fourTemplateexperienceYearTitle input:nth-child(3) {
    width: 200px;
    height: 24px;
}
.fourTemplateexperience .fourTemplateexperienceDescription textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(70, 69, 69);
    width: 60%;
    word-wrap: break-word;
    padding: 20px;
    height: 150px;
    margin-left: 50px;
    margin-top: 20px;
}
.fourTemplateexperience .fourTemplateexperienceAddress {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 50px;
    margin-top: -25px;
}

.fourTemplateexperience .fourTemplateexperienceAddress p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: .8em;
    font-weight: 500;
    color: rgb(106, 104, 104);
}

.fourTemplateexperience .fourTemplateexperienceAddress input {
    width: 200px;
    height: 24px;
    margin: 20px 0 10px 38px;
}

.fourTemplateexperience .fourTemplateexperienceDescription {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* padding-left: 50px; */
    margin-top: -20px;
}

.fourTemplateexperience .fourTemplateexperienceDescription p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(70, 69, 69);
    width: 70%;
    word-wrap: break-word;
    padding-left: 60px;
}

.fourTemplateaddExperience {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fourTemplateaddExperience input {
    width: 50%;
    height: 30px;
    box-shadow: 0 10px 10px 0 #3330;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    margin: 10px auto;
}

.fourTemplateaddExperience textarea {
    width: 60%;
    height: 200px;
    box-shadow: 0 10px 10px 0 #3330;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    margin: 10px auto;
}
.fourTemplateaddExperience input[type="button"] {
    width: 50%;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px auto;
    box-shadow: 0 10px 10px 0 #333;
    transition: all .3s ease-in;
    cursor: pointer;
}

.fourTemplateaddExperience input[type="button"]:focus,
.fourTemplateaddExperience input[type="button"]:active {
    outline: none;
    transform: translateZ(3px);
    box-shadow: 0 5px 5px 0 #333;
}

.fourTemplateexperience .fourTemplatemenu {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    display: none;
    transition: all .3s ease-in;
}
.fourTemplateexperience:hover .fourTemplatemenu{
    display: block;
}