.templatetwoproskills {
    width: 250px;
    height: fit-content;
    overflow: hidden;
    position: relative;
    padding: 10px;
    transition: all .3s ease-in;
    margin-top: 0;
}
.templatetwoproskills .templatetwomenu {
    position: absolute;
    top: 0;
    right: -75px;
    transition: all .3s ease-in;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.templatetwoproskills:hover .templatetwomenu{
    right: 0;
}
.templatetwoproskills:hover .templatetwomenu+.templatetwomenu{
    right: 20px;
}
.templatetwoproskills .templatetwoskillsTitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    margin-left: 35px;
}

.templatetwoskillsContainer {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.templatetwoaddSkill {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.templatetwoaddSkill input {
    width: 80%;
    height: 30px;
    box-shadow: 0 10px 10px 0 #3330;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}

.templatetwoaddSkill button {
    width: 50%;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    box-shadow: 0 10px 10px 0 #333;
    transition: all .3s ease-in;
}

.templatetwoaddSkill button:focus,
.templatetwoaddSkill button:active {
    outline: none;
    transform: translateZ(3px);
    box-shadow: 0 5px 5px 0 #333;
}


.templatetwoskillContainer {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin-left: 25px;
}

.templatetwoskillContainer h4 {
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    color: black;
    text-align: left;
    text-transform: capitalize;
}

.templatetwoskillContainer .templatetwoskillLevelContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(170, 170, 170, 0.512);
    z-index: 10;
    cursor: pointer;
    overflow: hidden;
}

.templatetwoskillContainer .templatetwoskillLevelContainer .templatetwoskillLevel {
    height: 100%;
    width: 10px;
    background-color: rgb(0 231 255 / 64%);
    transition: all .3s ease-in-out;
    cursor: pointer;
}