.templatetwoaddress {
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    position: relative;
    padding: 10px;
    transition: all .3s ease-in;
    margin-left: 50px;
}
.templatetwoaddress .templatetwomenu {
    position: absolute;
    top: -1px;
    right: -20px;
    transition: all .3s ease-in;
}
.templatetwoaddress:hover .templatetwomenu{
    right: 0;
}

.templatetwoaddress img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.templatetwoaddressContainer{ 
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all .3s ease-in;
}

.templatetwoaddressEditContainer {
    width: 100%;
    height: 265px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all .3s ease-in;
}

.templatetwoaddressEditContainer div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    margin: 10px;
}
.templatetwoaddressEditContainer div input {
    width: 200px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #333;
    margin-left: 10px;
}

.templatetwoaddressEditContainer div input:focus,
.templatetwoaddressEditContainer div input:active {
    outline: none;
}

.templatetwoaddressContainer div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
}
.templatetwoaddressContainer div img {
    margin-right: 10px;
}

.templatetwoaddressContainer div h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #333;
    margin-top: -1px;
}

.templatetwoaddressContainer div h4 .firstName {
    font-size: 2em;
    font-weight: bolder;
    margin-top: -5px;
    color: rgb(114,81,169);
}

.templatetwoaddressContainer div h4 .LastName {
    font-size: 2em;
    font-weight: 200;
    margin-top: -5px;
}