.downloadContainer {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.downloadContainer button {
  width: 250px;
  height: 56px;
  cursor: pointer;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1em;
  background-color: rgb(113,81,169);
  color: white;
  transition: all .3s ease-in-out;
}

.downloadContainer button:hover {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.504);
}

.downloadContainer button:active {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.504);
  transform: translateY(-4px);
}