.authContainer {
    width: 50%;
    height: 450px;
    border-radius: 15px;
    box-shadow: 3px 4px 4px -4px #0000009c,3px 4px 4px -4px #0000009c,3px 4px 4px -4px #0000009c, 3px 4px 4px -4px #0000009c, -2px -1px 6px 3px #0000002b;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}
.loginContainer {
    width: 50%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-top: 10%;
}
.loginContainer form input:focus {
    outline: none;
}
.hideAuth {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: white;
    z-index: 4;
    transition: all .3s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hideAuth .hideAuthButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hideAuth .hideAuthButton button {
    height: 45px;
    width: 50%;
    border: none;
    margin-top: -4px;
    box-shadow: 3px 4px 4px -4px black, -4px -4px 2px -4px black;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
    color: black;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    cursor: pointer;
    background-color: white;
    background-image: linear-gradient(to left, white 1%, black 99%);
    transition: all .3s ease-in;
}

.hideAuth .hideAuthButton button:hover {
    background-color: white;
    background-image: linear-gradient(to right, white 0%, black 100%);
    color: white;
    transition: all .3s ease-in;
}

.hideAuth .hideAuthButton button:active {
    box-shadow: none;
}
.showRegister {
    transform: translateX(100%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.showLogin {
    transform: translateX(0%);

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.registerContainer {
    width: 50%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.formControlContainer {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.formControlContainer label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
    padding: 5px;
    transition: all .3s ease-in;
}

.hideLabel {
    transform: translate(10px, 25px);
}

.formControlContainer input {
    width: 90%;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
    padding: 2px;
    margin-left: 5px;
    z-index: 2;
}

.registerContainer .formControlContainer input:focus {
    outline: none;
}

.registerContainer .formChecker {
    width: 100%;
    height: 120px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 2px;
}

.registerContainer .formChecker .formCheck {
    width: 100%;
    height: 37px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    margin-bottom: 2px;
}

.registerContainer .formChecker .formCheck div {
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
}

.registerContainer .formChecker .formCheck div::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0px;
    width: 5px;
    height: 2px;
    background-color: black;
    transform: rotateZ(45deg);
}

.registerContainer .formChecker .formCheck div::after {
    content: '';
    position: absolute;
    top: 4px;
    right: 0px;
    width: 8px;
    height: 2px;
    background-color: black;
    transform: rotateZ(-63deg);
}

.registerContainer .formChecker .formCheck h6 {
    margin-top: 0px;
    font-size: .7em;
    word-wrap: break-word;
    width: 80%;
    height: 37px;
    margin-left: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
    
}

.registerButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.registerButtonContainer input[type="submit"] {
    height: 45px;
    width: 50%;
    border: none;
    margin-top: -4px;
    box-shadow: 3px 4px 4px -4px black, -4px -4px 2px -4px black;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
    color: black;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    cursor: pointer;
    background-color: white;
    background-image: linear-gradient(to left, white 1%, black 99%);
    transition: all .3s ease-in;
}

.registerButtonContainer input[type="submit"]:hover {
    background-color: white;
    background-image: linear-gradient(to right, white 0%, black 100%);
    color: white;
    transition: all .3s ease-in;
}

.registerButtonContainer input[type="submit"]:active {
    box-shadow: none;
}